body {
    margin: 0px;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    background-color: #e0e7ff;
}

nav {
    height: 80px;
    margin-bottom: 85px;
    display: flex;
    justify-content: center;
    background-color: #4a90e2;
    width: 100%;
    position: relative;
}

nav>div {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

h1 {
    color: white;
}

main {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 80px;
}


#scoreBox {
    background-color: white;
    border-radius: 20px;
}

/* #scoreBox div {
    border-radius: 20px;
} */


p {
    margin: 0;
}

#menuButtons {
    background-color: white;
    border-radius: 20px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    position: absolute;
    top: 400px;
    box-shadow: 0 0 2px gray;
}

button {
    margin: 0;
    width: 100%;
    height: fit-content;
    padding: 10px 50px;
    background-color: #FFD700;
    font-weight: bold;
    border-radius: 50px;
    font-size: 20px;
    outline: none;
    border-style: none;
    border-bottom: 3px solid goldenrod;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 215, 0, 0.6);
}

button:active {
    border-bottom: none;
    margin-bottom: 3px;
    transform: translateY(5px);
    background-color: rgba(255, 215, 0, 1);


}


#randomApiImage {
    width: 250px;
    height: 250px;
    border: 1px solid black;

    display: flex;
    /* Ta bort dessa tre senare */
    align-items: center;
    /* Ta bort dessa tre senare */
    justify-content: center;
    /* Ta bort dessa tre senare */
}




#imgBox {
    width: 280px;
    height: 280px;
    background-image: url(../images/gameOver.png);
    background-position: center;
    background-size: contain;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 200px;
}