body {
    display: flex;
    align-items: center;
    background-color: #f6edde;
}

main {
    width: fit-content;
    display: grid;
    grid-template-columns: 500px;
    gap: 45px;
    margin: auto;
    place-items: center;
}

h2 {
    text-align: center;
}

img {
    width: 200px;
    display: block;
    margin: auto;
}

button {
    width: fit-content;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
}

.testOK {
    background-color: green;
}

.testFAIL {
    background-color: tomato;
}

p {
    font-weight: bolder;
}