body {
    height: 100%;
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    background-color: #e0e7ff;
    font-family: Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-color: #4a90e2;
    padding: 0 0 0 20px;
}

nav h1 {
    color: white;

}

nav div {
    display: flex;
    place-content: center;
}

nav button {
    border-style: none;
    outline: none;
    /* padding: 10px; */
    /* width: 100px; */
    font-size: 14px;
    color: white;
    background-color: #4a90e2;
}


.menuButton:hover {
    cursor: pointer;
    /* background-color: white; */
    border-bottom: 2px solid white;
}

#mainInfo {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    gap: 15px;
    align-items: center;
}

#playerInfo {
    width: fit-content;
    /* padding: 15px; */
    display: flex;
    gap: 20px;
}

main {
    display: flex;
    justify-content: space-evenly;
}

#left,
#right {
    width: 400px;
    border-radius: 20px;
    background-color: white;
    height: fit-content;
    padding: 15px;
    box-shadow: 0 0 10px lightblue;
}

#hasChoices {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    width: 600px;
}

#choicesBox {
    height: 250px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.choice {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 20px;
}

.choice p {
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px 0;
}

#foodTitle {
    padding: 0;
    margin: 0 0 15px 0;
    text-align: center;
}

#gameInfo {
    display: flex;
    /* margin: 16px 0; */
    gap: 20px;
}

#correctGuesses {
    background-color: limegreen;
}

#nextButton {
    margin: 0;
    display: none;
    margin: 0;
    display: none;
    height: fit-content;
    padding: 10px 50px;
    background-color: gold;
    font-weight: bold;
    border-radius: 50px;
    font-size: 20px;
    outline: none;
    border-style: none;
    border-bottom: 3px solid goldenrod;
}

#nextButton:active {
    border-bottom: none;
    margin-bottom: 3px;
}

#foodTitle {
    display: none;
}

.importantRed {
    padding: 10px 20px;
    background-color: tomato;
    font-weight: bold;
    border-radius: 50px;
    font-size: 20px;
}

#foodImage {
    width: 280px;
    height: 280px;
    border: 1px solid black;
    position: relative;
}

#recipeBox h2 {
    margin: 15px 0 0 0;
}

#recipeBox p {
    line-height: 1.6;
}

#left {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: transparent;
    overflow-x: visible;
}

#right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#looseScreen {
    display: none;
    width: 700px;
    height: 500px;
    background-color: aquamarine;
    position: absolute;
    border: 5px blue solid;
    border-radius: 10%;


    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* LEADERBOARD CSS */

#leaderboard-header img {
    width: 165px;
    position: absolute;
    left: 150px;
    top: -70px;
}

#hasMenuScoreBoard {
    position: relative;
}

#leaderboard-container {
    width: 300px;
    max-width: 450px;
    background-color: #fff;
    border-radius: 9px;
    overflow: visible;
    position: absolute;
    right: 115px;
    top: 120px;
    display: none;
    box-shadow: 0px 7px 17px #4a90e2;
}



#leaderboard-header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 12px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 131px;
    position: relative;
}

#backButton {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    border-style: none;
    padding: 1px 5px;
    color: #4a90e2;
    font-weight: bold;
}

#leaderboard-header h1 {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    position: absolute;
    top: 60px;
    right: 132px;
    z-index: 0;
    position: absolute;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

table thead {
    background-color: #e0e7ff;
    font-weight: bold;
}

table th,
table td {
    padding: 9px;
    text-align: center;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table * {
    z-index: 0;
    position: relative;
}


#questionBox {
    width: 500px;
    height: 300px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: white;
    display: none;
}

#multipleAnswersBox {
    border: solid blue 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 400px;
    height: 200px;
}

#multipleAnswersBox div {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lostText {
    background-color: yellow;
    position: absolute;
    font-size: 40px;
    padding: 20px;
    margin-top: 90px;
    display: none;
}

#winText {
    background-color: greenyellow;
    position: absolute;
    font-size: 40px;
    padding: 20px;
    margin-top: 90px;
    display: none;
}