body{
    margin: 20px;
    background-color: aqua;
}

main {
    display: flex;
    flex-direction: row;
    background-color: azure;
}

#bigLeft, #bigRight {
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

#littleLeft, #littleRight, #rulesDiv {
    display: flex;
    flex-direction: column;
    background-color: chocolate;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

#littleLeft h1, #littleRight h1{
    color: white;
    text-align: center;
    border: 1px solid black;
    height: 5vw;
    width: 10vw;
    margin: 0;
    padding: 0;
}

body h1{
    color: white;
    text-align: center;
    border: 1px solid black;
}

button, input{
    text-align: center;
    height: 5vw;
    width: 10vw;
    border-radius: 50%;
}