main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bigLeft, #bigRigth {
    display: flex;
    flex-direction: row;
}

#littleLeft, #littleRight {
    display: flex;
    flex-direction: column;
}

#rulesDiv {
    display: none;
    flex-direction: column;
    background-color: blanchedalmond;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    border: 2px solid black;
    height: 10px;
}

#rulesText {
    margin: 0px;
}

#cancelButton {
    position: absolute;
    top: 5px;
    right: 5px;
}